@import "~react-perfect-scrollbar/dist/css/styles.css";

@import "./style/variables";

@import "./style/CubeAnimation";

.explorer {
  &-wrapper {
    background: $pt-app-background-color;
    display: flex;
    flex-flow: column nowrap;
    min-width: 320px;
    height: 100vh;
    justify-content: stretch;

    &.#{$ns}-dark {
      background-color: $pt-dark-app-background-color;
    }

    .loading-screen {
      .#{$ns}-spinner .#{$ns}-spinner-head {
        stroke: #fff;
      }
      .#{$ns}-heading {
        color: #fff;
      }
    }
  }

  &-navbar {
    flex: 0 0;
    width: 100%;

    .module-tabs {
      margin-left: 1rem;
    }

    .#{$ns}-tab {
      line-height: 50px;
    }
  }

  &-content {
    flex: 1 0;
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  &-params {
    $card-background-color: $white !default;
    $dark-card-background-color: $dark-gray4 !default;

    box-shadow: $pt-elevation-shadow-0;
    background-color: $card-background-color;

    .#{$ns}-dark & {
      box-shadow: $pt-dark-elevation-shadow-0;
      background-color: $dark-card-background-color;
    }

    &-content {
      margin: 1rem;
    }

    @import "./style/PanelQuery";
  }

  &-results {
    margin: 0;
    outline: 0 none;

    @import "./style/PanelDataRaw";
    @import "./style/PanelDataTable";
    @import "./style/PanelDataTree";

    &.initial-view .animated-cube {
      font-size: 4rem;
    }
  }
}

@import "./style/DebugDrawer"

//https://markus.oberlehner.net/blog/building-a-good-old-12-column-css-grid-framework-with-css-grid-layout/
