@import "./style/variables";
@import "./style/layout";

@import "./style/CubeAnimation";
@import "./style/TransferInput";

@import "./style/ExplorerParams";
@import "./style/ExplorerResults";

.bp3-tag.bp3-fill {
  box-sizing: border-box;
}

.bp3-button {
  box-sizing: border-box;
}

/* WRAPPER */
.explorer-wrapper {
  background: --app-background-color;
  height: 100%;
  width: 100%;
  min-width: 320px;

  display: grid;
  grid-template-columns: fit-content(30px) fit-content(30px) minmax(0, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.explorer-wrapper.bp3-dark {
  background-color: --dark-app-background-color;
}

/* LOADING */
.explorer-loading .loading-screen .bp3-spinner .bp3-spinner-head {
  stroke: #fff;
}
.explorer-loading .loading-screen .bp3-heading {
  color: #fff;
}

/* COLUMNS */
.explorer-column {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 100px;
}
.explorer-column > .titlebar {
  flex: 0 0 30px;
  font-size: 1rem;
  line-height: 30px;
  padding: 0 0.5rem;
  text-transform: uppercase;
}
.explorer-column > .titlebar .token {
  display: inline-block;
  font-size: inherit;
  margin: 0 1rem 0 0;
  text-decoration: none;
}
.explorer-column.closed {
  width: 30px;
}
.explorer-column.closed .titlebar {
  grid-row: span 2;
  transform: rotate(90deg);
  transform-origin: 15px 15px;
}
.explorer-column > .wrapper {
  flex: 1 0 30px;
  min-height: 0;
}

.explorer-queries {
  width: 200px;
}
.explorer-queries .wrapper {
  padding: 0.25rem;
}

.explorer-params {
  width: 320px;
}

.explorer-results {
  min-width: 520px;
}
.explorer-results .animated-cube {
  font-size: 4rem;
}
.explorer-results.initial-view .error-detail {
  font-style: italic;
}
.explorer-results-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.param-popover .bp3-popover-content {
  padding: 0.75rem;
}

.param-popover .submenu-form-group {
  margin-bottom: 0;
}
.param-popover .submenu-form-group + .submenu-form-group {
  margin-top: 18px;
}

.bp3-fill > .bp3-popover-target {
  max-width: 100%;
}

.bp3-fill > .bp3-popover-target > div {
  width: 100%;
}

.bp3-table-container {
  margin: 0;
  outline: 0 none;
  user-select: none;
}


.menu-dimension {
  max-height: 80vh;
  overflow: auto;
}
