.vb-wrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  overflow: auto;
}
.vb-wrapper > .vb-toolbar-wrapper {
  display: none;
}
.vb-wrapper > .vb-charts-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  justify-content: space-between;
  align-content: space-between;
}
.vb-wrapper > .vb-charts-wrapper.unique {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;
}
.vb-wrapper .vb-chart-card {
  min-height: 400px;
  display: grid;
  grid-template-rows: 30px minmax(300px, 1fr);
  gap: 0.5rem;
  justify-items: stretch;
  align-items: stretch;
}
.vb-wrapper .vb-chart-card > .vb-chart-toolbar {
}
.vb-wrapper .vb-chart-card > .vb-chart-viz {
}
.vb-wrapper .vb-chart-card svg.d3plus-viz {
  display: block !important;
  max-width: 100%;
  max-height: 100%;
}
