.debug-drawer {
  &-content {
    padding: 1rem;
    overflow: auto;

    .jscall {
      overflow: auto;
    }

    .#{$ns}-heading {
      margin-top: 1em;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }
}
