.cube-locale:empty {
  display: none;
}

.bp3-button-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.query-area .details-title {
  padding-left: 30px;
  min-height: 30px;
  list-style: none;
}

.query-area .details-title::-webkit-details-marker,
.query-area .details-title::marker {
  display: none;
}

.query-area .icon-chevron {
  padding: 7px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.15s linear;
}
.query-area[open] .icon-chevron {
  transform: rotate(90deg);
}

.tag-item {
  margin-top: 2px;
}

.tag-item.hidden {
  opacity: 0.5;
}

.tag-item .bp3-switch {
  margin: 0 -5px;
}
