&-content {
  padding: 1px;
  overflow: auto;
}

.result-panel {
  height: 100%;
  width: 100%;
}

.data-raw {
  padding: 0.75rem;
  display: grid;
  overflow: auto;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto 1fr;
  gap: 0.75rem;

  .#{$ns}-label {
    font-weight: bold;
  }

  .sourceurl {
    grid-column: span 2;
  }

  .code-block {
    margin: 0;
    overflow: auto;
  }
}

.rro {
  &--parent {
    font-family: 'Roboto Mono', 'Consolas', Monaco, 'Courier New', Courier, monospace;
    overflow: hidden;
    padding-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &--object-constructor {
    font-style: italic;
  }
  &--name {
    font-weight: bold;
  }
  &--type-number > &--value { color: #00a; }
  &--type-string > &--value { color: #0a0; }
  &--type-boolean > &--value { color: #a00; }
}

.data-matrix {
  display: flex;
  flex-flow: row nowrap;

  .toolbar {
    flex: 0 0 260px;
    padding: 0.75rem;
  }

  .preview {
    flex: 1 0 0;
    min-width: 0;
  }
}

.data-chart {
  display: flex;
  flex-flow: row nowrap;

  .editor {
    flex: 0 0 540px;
    display: flex;
    padding: 0.5rem;
    flex-flow: column nowrap;

    .params {
      flex: 0 0 0;
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 1rem;

      .inline-group {
        flex: 1 0 100px;
        margin: 0 1rem 0 0;
      }
    }

    .params + section {
      flex: 1 0 50%;
    }
  }

  .preview {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    max-height: 100%;
    min-width: 0;
    padding: 0.5rem;

    .animated-cube {
      font-size: 4rem;
    }

    .viz {
      height: 90%;
      transform: rotateZ(360deg);

      & > svg {
        display: block;
        max-width: 100%;
      }
    }
  }
}
