.cube-locale {
  padding: 0.75rem;

  &:empty {
    display: none;
  }
}

.#{$ns}-button-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.query-actions {
  padding: 0.75rem;
}

.query-area {
  position: relative;

  .details-title {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin: 1px 0;
    padding: 0;
    padding-left: 30px;
    min-height: 30px;
    @include box-area;

    &::-webkit-details-marker {
      display: none;
    }
  }

  & .icon-chevron {
    padding: 7px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.15s linear;
  }
  &[open] .icon-chevron {
    transform: rotate(90deg);
  }

  .title {
    display: block;
    flex: 0 0 auto;
    line-height: 1.1em;
    padding-right: 6px;
  }

  .spacer {
    display: block;
    flex: 1 0 auto;
  }

  & > .container {
    padding: 0.5rem;
    max-height: 10rem;
  }
}

.download-area {
  padding: 0.75rem;

  & > h4 {
    margin: 0 0 0.5rem;
  }
}

.tag-item {
  margin-top: 2px;

  &.hidden {
    opacity: 0.5;
  }

  .#{$ns}-switch {
    margin: 0 -5px;
  }
}
