@mixin box-area {
  box-shadow: $pt-elevation-shadow-0;
  background-color: $card-background-color;

  .#{$ns}-dark & {
    box-shadow: $pt-dark-elevation-shadow-0;
    background-color: $dark-card-background-color;
  }
}
