.item-cut .#{$ns}-button .#{$ns}-icon {
  color: #fff;
}
.cut-submenu {
  padding: .5rem;

  @media (min-width: 640px) {
    max-width: 50vw;
  }
}
.tag-multiselect {
  min-width: 200px;
  max-height: 40vh;
  overflow: auto;
}

.growth-input {
  width: 100%;
}

.#{$ns}-popover-target > div {
  border-radius: inherit;
}

.action-add {
  margin-top: 5px;
}

.tag-multiselect {
  .#{$ns}-tag {
    margin-bottom: 1px;
  }
}

.#{$ns}-control-group > .#{$ns}-form-group {
  margin-bottom: 0;

  > .#{$ns}-form-content {
    width: 100%;
  }
}

.topk-input {
  .#{$ns}-label {
    padding-left: 10px;
    min-width: 80px;
  }
}
