&.data-table {
  user-select: none;

  .column-number {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-variant-numeric: tabular-nums;
    font-variant-numeric: tabular-nums lining-nums;
    text-align: right;
  }
}
