.query-group {
  details {
    summary {
      &[data-label-info]::after {
        content: attr(data-label-info);
        content: " (" attr(data-label-info) ")";
      }
    }

    &[open] summary {
      margin-bottom: 0.5rem;

      &[data-label-info]::after {
        content: "";
      }
    }

    .details-title {
      button {
        float: right;
        margin: -3px 0;
      }
    }

    .details-content {
      box-sizing: border-box;
      margin: -5px;
      padding: 5px;
      max-height: 200px;
      overflow: auto;
    }
  }
}

.item-cut,
.item-drilldown {
  margin-bottom: 2px;
}
.item-cut.hidden,
.item-drilldown.hidden {
  opacity: 0.5;
}
.item-cut .#{$ns}-button .#{$ns}-icon {
  color: #fff;
}
.cut-submenu {
  padding: .5rem;

  @media (min-width: 640px) {
    max-width: 50vw;
  }
}
.tag-multiselect {
  min-width: 200px;
  max-height: 40vh;
  overflow: auto;
}

.growth-input {
  width: 100%;
}

.#{$ns}-popover-target > div {
  border-radius: inherit;
}

.action-add {
  margin-top: 5px;
}

.tag-multiselect {
  .#{$ns}-tag {
    margin-bottom: 1px;
  }
}

.#{$ns}-control-group > .#{$ns}-form-group {
  margin-bottom: 0;

  > .#{$ns}-form-content {
    width: 100%;
  }
}

.topk-input {
  .#{$ns}-label {
    padding-left: 10px;
    min-width: 80px;
  }
}
