&.data-tree {
  display: flex;
  flex-direction: column;

  .#{$ns}-tree-node {
    &:hover {
      background-color: rgba($gray5, 0.4);
    }
    .#{$ns}-dark &:hover {
      background-color: rgba($gray1, 0.3);
    }
  }

  .tree {
    &-filter {
      flex: 0 0 auto;
      margin: 1rem;
    }

    &-content {
      flex: 1 1 auto;
      height: 0;
      overflow: auto;
      margin: 0 1px;
    }

    &-struct span {
      display: inline-block;
      min-width: 160px;
      user-select: all;
    }

    &-key {
      margin-right: 10px;
    }
  }
}
