.starred-drawer {
  &-item {
    margin: 1rem;
    padding: 0.5rem;
  }

  & .item-header {
    margin-bottom: 0.5rem;
    display: flex;
    flex-flow: row nowrap;

    & .header-title {
      align-self: center;
      flex: 1;
      margin: 0 0.5rem;
    }

    & .label {
      font-weight: bold;
    }

    & .date {
      display: block;
      font-size: 0.6em;
    }
  }

  & .item-runner {
    margin-bottom: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    & .tag-boolean {
      margin-left: 4px;
    }
  }

  & .item-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 0.5rem;

    & .disabled {
      opacity: 0.5;
      list-style-type: circle;
    }

    & dl {
      margin: 0 0.5rem 0.5rem 0;
      max-width: 40%;
    }
    & dt {
      font-weight: 700;
    }
    & dd {
      display: list-item;
      list-style: disc outside;
      margin-left: 20px;
    }
    & dd + dt {
      margin-top: 0.5rem;
    }
  }
}
