.input-transfer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 200px 200px;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  .item-filter {
    grid-column: span 2;
  }
  .item-list {
    overflow: auto;
    min-height: 130px;
    max-height: 300px;
  }
}
