:root {
  --anicube-color1: #5c7080;
  --anicube-color2: #738694;
  --anicube-color3: #8a9ba8;
  --anicube-play-state: running;

  --app-background-color: #f5f8fa;
  --dark-app-background-color: #293742;
}
